<div class="" *ngIf="person && !loading">
  <h3>{{person.name}} (id: {{person.id}})</h3>
  <md-input-container>
    <input mdInput type="text" name="name" id="name" [(ngModel)]="person.name" placeholder="Name" />
  </md-input-container>
  <md-input-container>
    <input mdInput type="text" name="phone" id="phone" [(ngModel)]="person.phone" placeholder="Phone" />
  </md-input-container>
  <div>
    <strong>Address:</strong>
  </div>
  <md-input-container>
    <input mdInput type="text" name="street" id="street" [(ngModel)]="address.street" placeholder="Street"/>
  </md-input-container>
  <md-input-container>
    <input mdInput type="text" name="city" id="city" [(ngModel)]="address.city" placeholder="City"/>
  </md-input-container>
  <md-input-container>
    <input mdInput type="text" name="state" id="state" [(ngModel)]="address.state" placeholder="State"/>
  </md-input-container>
  <md-input-container>
    <input mdInput type="text" name="zip" id="zip" [(ngModel)]="address.zip" placeholder="Zip" />
  </md-input-container>
</div>
<div *ngIf="!person" id="no-person-found">
  No person found.
</div>
<div>
  <button md-raised-button color="primary" id="save-person" *ngIf="person && !loading" type="button" name="save-person" (click)="save()">Save</button>
  <button md-raised-button color="primary" type="button" name="back-to-search" id="back-to-search" *ngIf="!loading" (click)="gotoSearch()">Back to Search</button>
</div>
<div *ngIf="loading" id="loading">
  Submitting...
</div>
